input {
  border: none;
  border-radius: 50px;
  padding: 18px 42px;
  font-size: 18px;
  font-family: 'Raleway-600', serif;
  background-color: #f6f5f5;
  width: 175px;
  &:focus {
    outline: none;
  }
}
