button {
  margin-top: 10px;
  padding: 0;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #1b1f2c;
  font-family: 'Raleway-600', serif;
}
button:hover {
  text-decoration: underline;
}
