.tabs__wrapper {
  margin: 160px auto 0;
  width: 90%;
}
.tabs-content{
  margin-top: 45px;
}
.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-top: 70px;
}
.product:after {
  content: '';
  flex: auto;
  min-width: 250px;
}
.product__item {
  width: 25%;
  padding: 0 15px;
  min-height: 670px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  position: relative;
}

.title {
  font-size: 22px;
  margin-top: 24px;
  color: #ff1313;
  font-family: 'Raleway-600', serif;
}
.subtitle {
  font-size: 14px;
  color: #626262;
  font-family: 'Raleway-400', serif;
  overflow: hidden;
  line-height: 22px;
  margin-top: 20px;
}
.buy__block {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.price {
  font-size: 24px;
  font-family: 'Raleway-600', serif;
  color: #121010;
}
.change__block{
  display: flex;
  justify-content: flex-end;
}
.addImageBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: #D3D3D3;
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  &:before{
    content: "";
    display: block;
    padding-top: 100%;
  }
  &:hover{
    background-color: #C0C0C0;
  }
}
.crud-icon{
  width: 30px;
  height: 30px;
  &:first-child{
    margin-right: 10px;
  }
}
.btn-save{
  appearance: none;
  font-size: 12px;
  padding: 10px 28px;
  background-color: #ff1313;
  color: white;
  text-decoration: none;
  font-family: 'Inter-500', serif;
  letter-spacing: 0.5px;
  cursor: pointer;
  border-radius: 23px;
  position: relative;
  border: 1px solid transparent;
}
.text-area {
  height: 100px;
  width: 100%;
  resize: none;

  border: none;
  border-radius: 11px;
  padding: 12px 20px;
  font-size: 14px;
  font-family: 'Raleway-500', serif;
  background-color: #f6f5f5;
  margin-bottom: 30px;
  margin-top: 5px;
  &:focus {
    outline: none;
  }
}
label{
  color: #333333;
  font-size: 14px;
  font-family: "Raleway-400", serif;
  margin-bottom: 5px;
}
#title{
  color: #ff1313;
  font-size: 22px;
  font-family: "Raleway-600", serif;
}
#description{
  color: #626262;
  font-size: 14px;
  font-family: "Raleway-400", serif;
}
#price{
  font-size: 24px;
}
.uploaded-image{
  padding: 10px;
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
}
.tab-img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
}

.image-preview {
  position: relative;
  cursor: pointer;
  display: inline-block;

  &:hover .img-block {
    background-color: #C0C0C0;
  }
}

.img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  max-width: 100%;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.download-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-preview:hover .download-overlay {
  opacity: 1;
}

.block-download {
  color: black;
  background-color: #f9f9fd;
  padding: 10px 20px;
  font-family: "Raleway-800", serif;
  border-radius: 2px;
  &:hover{
    background-color: #FFE4E1;
  }
}
.block-visible {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  font-family: "Raleway-300",serif;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.visible__item{
  display: flex;
  align-items: center;
  width: 100%;
}

.radio-button {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px;
  position: relative;
  align-items: center;
  color: white;
}

.radio-button input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  transform: translateZ(-25px);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.radio::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #ff1313;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.radio-button input[type="radio"]:checked + .radio {
  border: 7px solid #ffffff;
  background-color: #ff1313;
}

.radio-button input[type="radio"]:checked + .radio::before {
  opacity: 1;
}



@media (max-width: 910px) {
  .product{
    margin-top: 25px;
  }
  .product__item{
    width: 33%;
  }
  .info-product{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100% - 35px);
  }
}
@media (max-width: 770px) {
  .product__item{
    width: 49%;
  }
  .image-preview{
    display: block;
    width: 190px;
    height: 190px;
  }
  .download-overlay{
    width: 190px;
    height: 190px;
  }
  .img-block{
    height: 190px;
    width: 190px;

  }
  .tab-img{
    height: 180px;
    width: 180px;
  }
  .uploaded-image{
    height: 180px;
    width: 180px;
  }
}
@media (max-width: 540px) {
  .product__item{
    width: 100%;
  }
}
