.map-info{
  margin-top: 120px;
}
.block-map{
  margin-top: 70px;
}
.map-img{
  margin: 0 auto;
}
.info{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.el{
  display: flex;
  margin-bottom: 21px;
}
.text{
  font-family: "Raleway-600", serif;
  font-size: 20px;
}
.left{
  margin-left: 15px;
}
.icon{
  width: 25px;
  height: 25px;
}
.column{
  flex-direction: column;
}
.m-text{
  font-family: "Raleway-400", serif;
  font-size: 20px;
  margin-bottom: 10px;
}
