.footer {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-top: 160px;
  background-color: #fafafa;
  padding: 100px 0 60px 0;
}
.footer__inner {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.social {
  margin-top: 30px;
}
.el {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}
.logo-container {
  display: flex;
  align-items: center;
}
.title {
  font-family: 'Inter-800', serif;
}
.red {
  color: #ff1313;
  margin-right: 2px;
  margin-left: 8px;
}
.nav {
  display: flex;
  flex-wrap: wrap;
}
.nav__link {
  margin: 0 22px;
  font-family: 'Raleway-600', serif;
  text-decoration: none;
  color: #121010;
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #121010;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    margin-top: 4px;

    transition: opacity 100ms linear;
  }
  &:hover {
    color: #000000;
  }
  &:hover:after {
    opacity: 1;
  }
}
.text {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: 'Raleway-400', serif;
  flex-wrap: wrap;

  color: #626262;
}
.icons__spacing {
  width: 12%;
}
.store__spacing {
  width: 12%;
}
.link__social{
  width: 35px;
  height: 35px;
  background-color: #ff1313;
  border-radius: 50%;
}
.phone {
  font-size: 16px;
  font-family: 'Raleway-600', serif;
}
.label {
  display: none;
}
@media (max-width: 990px) {
  .footer {
    margin-top: 40px;
    padding: 60px 0 20px 0;
  }
  .nav__link {
    width: 45%;
    margin: 0;
    padding: 10px;
    &:after {
      width: 50%;
    }
  }
  .nav {
    margin: 15px 0;
  }
  .icons__spacing {
    width: 20%;
  }
  .phone {
    width: 100%;
    display: flex;
  }
  .label {
    display: block;
    margin-left: 15px;
  }
  .none {
    display: none;
  }
}
@media (max-width: 775px) {
  .nav__link {
    &:after {
      display: none;
    }
    &:hover {
      color: #ff1313;
    }
  }
  .icons__spacing {
    width: 30%;
  }
  .store__spacing {
    width: 30%;
  }
}
@media (max-width: 630px) {
  .footer {
    margin-top: 30px;
    padding: 40px 0 0 0;
  }
  .icons__spacing {
    width: 35%;
  }
  .store__spacing {
    width: 35%;
  }
}
@media (max-width: 410px) {
  .footer {
    padding: 10px 0 0 0;
  }
  .icons__spacing {
    width: 40%;
  }
  .store__spacing {
    width: 40%;
  }
}
