input {
  border: none;
  border-radius: 18px;
  padding: 20px 24px;
  font-size: 22px;
  font-family: 'Raleway-600', serif;
  background-color: #f6f5f5;
  margin-bottom: 30px;
  max-width: 700px;
  width: 100%;
  &:focus {
    outline: none;
  }
}
@media (max-width: 880px) {
  .input {
    font-size: 16px;
    padding: 18px 22px;
  }
}
@media (max-width: 640px) {
  .input {
    font-size: 15px;
  }
}
@media (max-width: 575px) {
  .input {
    font-size: 14px;
  }
}
