.btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;

  padding: 12px 32px;
  background-color: #ffffff;
  text-decoration: none;
  font-family: 'Raleway-700', serif;
  letter-spacing: 0.5px;
  cursor: pointer;
  border-radius: 45px;
}
