.btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 12px 32px;
  background-color: #ffffff;
  text-decoration: none;
  font-family: 'Raleway-700', serif;
  letter-spacing: 0.5px;
  cursor: pointer;
  border-radius: 45px;

  border: 1px solid #fcefef;
  position: relative;
  overflow: hidden;
  transition: width 0.8s ease;
}
.btn:hover {
  -webkit-box-shadow: 10px 10px 34px 8px rgba(255,191,206,0.29);
  -moz-box-shadow: 10px 10px 34px 8px rgba(255,191,206,0.29);
  box-shadow: 10px 10px 34px 8px rgba(255,191,206,0.29);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
                  120deg,
                  transparent,
                  #fcefef,
                  transparent
  );
  transition: all 350ms;
}

.btn:hover:before {
  left: 100%;
}
