.wrapper-slider{
  position: relative;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}
h1{
  text-align: center;
  font-family: "Raleway-700", serif;
  margin-bottom: 80px;
}
.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 350px;
  height: 220px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;

  object-fit: cover;
}
