.wrapper-slider{
  position: relative;
  width: 100%;
  max-width: 1260px;
  display: flex;
  align-items: center;
  margin: 0 auto 85px;
}
h1{
  text-align: center;
  font-family: "Raleway-700", serif;
  margin-bottom: 80px;
  font-size: 50px;
}
.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 350px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev-stock,
.swiper-button-next-stock {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev-stock::before,
.swiper-button-next-stock::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper-button-prev-stock {
  left: 0;
}

.swiper-button-prev-stock::before {
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.swiper-button-next-stock {
  right: 0;
}

.swiper-button-next-stock::before {
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
}


@media (max-width: 990px) {
  h1{
    margin-bottom: 20px;
  }
}
